:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primaryBlue: #111133;
  --secondaryOrange: #ff5522;
  --sucessGreen: #2e7d32;
  --errorRed: #dd0000;
  --focusYellow: #ffeecc;
}
h1 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 9.6rem;
}
h2 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 6rem;
}
h3 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 4.8px;
}
button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.5rem;
}
